/* ------------------------------- */
/* -----------  Body  ------------ */

body {
  font-family: Calibri;
  margin: 0;
  padding: 0;
  color: #1d3557;
  /*    background-color: #f4f4f4;*/
}

.container {
  display: flex;
  height: calc(100vh);
  padding: 80px;
  box-sizing: border-box;
  background: url("assets/images/background/background.jpg") no-repeat center
    center/cover;
}

/* ---------------------------------- */
/* -----------  Sidebar  ------------ */

.sidebar {
  background-color: #ffffff;
  padding: 0 0 30px 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin-right: 40px;
  border-radius: 20px;
}

/* -----  Profile photo in sidebar  ----- */

.profile-pic {
  background-color: #457b9d;
  padding: 40px 0px 0px 0px;
  margin-bottom: 80px;
  width: 300px;
  height: 165px;
  border-radius: 20px;
}

.profile-pic img {
  margin: 0 35px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 220px;
  height: 220px;
}

/* -----  Menu  ----- */

.menu {
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image-list {
  list-style-type: none;
  padding: 0px;
}

.image-list img {
  padding: 5px 5px;
  width: 25px;
  /* Możesz dostosować rozmiar obrazu */
  height: 25px;
  /* Możesz dostosować rozmiar obrazu */
}

.menu li {
  display: flex;
  margin: 5px 35px;
  padding-left: 35px;
  border-bottom: 2px solid #457b9d;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d3557;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
  font-size: 18px;
}

.menu a.active,
.menu a:hover {
  color: #ff451b;
}

/* -----  Social-links  ----- */

.social-links {
  margin-top: auto;
  text-align: center;
  padding-top: 20px;
}

.social-links a {
  display: inline-block;
  text-decoration: none;
  color: #1d3557;
  margin: 10px 0;
}

.social-links a img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

/* ------------------------------------ */
/* -----------  Languages  ------------ */

.languages-links {
  margin: 10px 0;
  position: fixed;
  display: inline-block;
  right: 310px;
  z-index: 1000;
}

.languages-links a.active {
  border: 4px solid #ff451b;
}

.languages-links a {
  display: inline-block;
  text-decoration: none;
  color: #1d3557;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}

.languages-links a img {
  width: 35px;
  height: 35px;
  padding: 10px;
}

/* ------------------------------------ */
/* -----------  CV-button  ------------ */

.cv-button {
  background-color: #ff451b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.cv-button:hover {
  background-color: #c32413;
}

/* -------------------------------- */
/* -----------  Index  ------------ */

.content-index {
  flex-grow: 1;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  background: url("../assets/images/photos/hero.png") no-repeat center
    center/cover;
}

.hero-index {
  text-align: center;
  background: rgba(29, 53, 87, 0.8);
  padding: 20px;
  border-radius: 20px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hero-index h1 {
  font-family: Futura Md BT;
  font-size: 4.5em;
}

.hero-index h2 span {
  font-family: Futura Md BT;
  color: #ff451b;
}

.hero-index p {
  font-size: 1.8em;
  margin: 25px 0;
  color: #bab6b6;
  text-align: center;
}

/* -------------------------------- */
/* -----------  About  ------------ */

.about-container {
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.about-container::-webkit-scrollbar {
  width: 15px;
}

.about-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.about-container::-webkit-scrollbar-thumb {
  background-color: #ff451b;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.about-container::-webkit-scrollbar-thumb:hover {
  background-color: #be3111;
}

.about-section {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.about-section .row:first-child {
  flex: 2;
  /* Adjust this value to control the height of the first row */
}

.about-section .row:last-child {
  flex: 1;
  /* Adjust this value to control the height of the second row */
}

.row {
  display: flex;
  flex-grow: 1;
}

h2 span {
  color: #ff451b;
  font-size: 1.2em;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

.content-container h2,
.inline-list li h2 {
  margin-top: 0;
}

p {
  text-align: justify;
  margin-top: 25px;
  font-size: 1.1em;
}

/* ------  First column  ----- */

.column-first {
  flex: 1;
  padding: 60px 20px 60px 80px;
  /*    border: 1px solid #000;*/
  box-sizing: border-box;
  position: relative;
  height: auto;
}

.image-container {
  position: absolute;
  top: 60px;
  left: 80px;
  width: 350px;
  height: 450px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.list-container {
  background-color: #ff451b;
  position: absolute;
  top: 360px;
  /* 400px / 2 */
  left: 360px;
  /* 400px / 2 */
  border-radius: 20px;
}

.list-container ul {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
}

.list-container li {
  font-size: 1em;
  color: #d5d5d5;
  margin: 10px 35px;
  padding: 5px;
}

.list-container li .about-text {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: bold;
}

/* ------  Second column  ----- */

.column-second {
  flex: 1;
  padding: 60px 80px 60px 20px;
  /*    border: 1px solid #000;*/
  box-sizing: border-box;
  position: relative;
  height: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ------  Third column  ----- */

.column-full {
  flex: 1;
  padding: 20px 80px;
  /*    border: 1px solid #000;*/
  box-sizing: border-box;
}

.column-full h1 {
  margin-bottom: 20px;
}

.about-inline-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.abaut-inline-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.abaut-inline-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #1d3557;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin: 0 25px;
}

.abaut-inline-list img {
  width: 125px;
  /* Adjust the width as needed */
  height: 125px;
  /* Adjust the height as needed */
  object-fit: cover;
  padding-bottom: 20px;
}

.abaut-inline-list li h2 {
  margin-top: 20px;
  font-size: 2em;
  height: 50px;
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: center;
  /* Wyśrodkowanie w poziomie */
  align-items: center;
}

/* --------------------------------- */
/* -----------  Resume  ------------ */

.resume-container {
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.resume-container::-webkit-scrollbar {
  width: 15px;
}

.resume-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.resume-container::-webkit-scrollbar-thumb {
  background-color: #ff451b;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.resume-container::-webkit-scrollbar-thumb:hover {
  background-color: #be3111;
}

.resume-section {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.resume-section .row:first-child {
  flex: 2;
  /* Adjust this value to control the height of the first row */
}

.resume-section .row:last-child {
  flex: 1;
  /* Adjust this value to control the height of the second row */
}

/* ------  Quote  ----- */

.resume-inline-list-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*    height: 100%;*/
}

.resume-inline-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.resume-inline-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /*
  border: 1px solid #1D3557;
  border-radius: 20px;
*/
  text-align: left;
  padding: 0;
  margin: 0;
}

.resume-inline-list li h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  color: #1d3557;
}

.resume-inline-list li p {
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
  color: #1d3557;
}

/* ------  Resume Header  ----- */

.resume-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
  /*    height: 100%;*/
}

.resume-header-container h1 span {
  color: #ff451b;
  font-size: 1.4em;
}

/* ------  Resume Element  ----- */

.resume-element-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  /*    height: 100%;*/
}

.resume-element-inline-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resume-element-inline-list .element-in-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d3557;
  border-radius: 20px;
  text-align: left;
  padding: 0;
  margin: 10px;
}

.resume-element-inline-list .left {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.resume-element-inline-list .right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
}

.element-in-list img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.element-in-list h1 {
  margin: 0 20px;
  padding-bottom: 5px;
  font-size: 2em;
}

.element-in-list h2 {
  margin: 0 20px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.element-in-list p {
  margin: 0 20px;
  padding: 0;
}

.banner-left {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.banner-left::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -25px;
  border-width: 25px 45px 25px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  background-color: #ff5722;
}

.banner-right {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.banner-right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -25px;
  border-width: 25px 0 25px 45px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  background-color: #ff5722;
}

/* -------------------------------------- */
/* -----------  Testimonial  ------------ */

.testimonial-container {
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.testimonial-container::-webkit-scrollbar {
  width: 15px;
}

.testimonial-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.testimonial-container::-webkit-scrollbar-thumb {
  background-color: #ff451b;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.testimonial-container::-webkit-scrollbar-thumb:hover {
  background-color: #be3111;
}

.testimonial-section {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.testimonial-section .row:first-child {
  flex: 2;
  /* Adjust this value to control the height of the first row */
}

.testimonial-section .row:last-child {
  flex: 1;
  /* Adjust this value to control the height of the second row */
}

/* ------  Quote  ----- */

.testimonial-inline-list-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*    height: 100%;*/
}

.testimonial-inline-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.testimonial-inline-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /*
  border: 1px solid #1D3557;
  border-radius: 20px;
*/
  text-align: left;
  padding: 0;
  margin: 0;
}

.testimonial-inline-list li h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  color: #1d3557;
}

.testimonial-inline-list li p {
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
  color: #1d3557;
}

/* ------  Testimonial elements  ----- */

.testimonial-inline-list-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*    height: 100%;*/
}

.testimonial-inline-list-element {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.testimonial-inline-list-element li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border: 1px solid #1d3557;
  border-radius: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
}

/* ---------------------------------- */
/* -----------  Contact  ------------ */

.contact-container {
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.contact-container::-webkit-scrollbar {
  width: 15px;
}

.contact-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.contact-container::-webkit-scrollbar-thumb {
  background-color: #ff451b;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.contact-container::-webkit-scrollbar-thumb:hover {
  background-color: #be3111;
}

.contact-section {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.contact-section .row:first-child {
  flex: 2;
  /* Adjust this value to control the height of the first row */
}

.contact-section .row:last-child {
  flex: 1;
  /* Adjust this value to control the height of the second row */
}

/* ------  Quote  ----- */

.contact-inline-list-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*    height: 100%;*/
}

.contact-inline-list {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.contact-inline-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /*
  border: 1px solid #1D3557;
  border-radius: 20px;
*/
  text-align: left;
  padding: 0;
  margin: 0;
}

.contact-inline-list li h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  color: #1d3557;
}

.contact-inline-list li p {
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
  color: #1d3557;
}

/* ------  Resume Header  ----- */

.contact-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*
  justify-content: flex-start;
  align-items: center;
*/
  padding: 0 0 10px 0;
  color: #1d3557;
  /*    height: 100%;*/
}

/* ------  Contact Element  ----- */

.contact-element-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  /*    height: 100%;*/
}

.contact-element-inline-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-element-inline-list .element-in-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*    border: 1px solid #1D3557;*/
  border-radius: 20px;
  text-align: left;
  padding: 0;
  margin: 10px 0;
}

.contact-element-inline-list .left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact-element-inline-list .right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
}

.element-in-list img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.element-in-list h1 {
  margin: 0 20px;
  padding-bottom: 5px;
  font-size: 2em;
}

.element-in-list h2 {
  margin: 0 20px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.element-in-list p {
  margin: 0 20px;
  padding: 0;
}

.element-in-list .form-info {
  display: flex;
  /*    border: 1px solid #1D3557;*/
  width: auto;
  height: auto;
  margin: 10px 0;
}

.form-info img {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
}

.form-info-text {
  margin: 25px 10px;
  padding: 0;
  box-sizing: border-box;
}

.form-info-text h1 {
  font-size: 1.6em;
}

.form-info-text h2 {
  font-size: 1.2em;
  color: #457b9d;
}

/* ------  Form  ----- */

form {
  width: 100%;
  box-sizing: border-box;
}

.form-row {
  display: flex;
}

.form-group {
  flex: 1;
  margin-left: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  border: 1px solid #1d3557;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px 0;
  color: #1d3557;
}

.form-group textarea {
  resize: vertical;
  /* Dozwolone tylko pionowe zmiany rozmiaru */
  min-height: 200px;
}

.form-group button {
  background-color: #ff451b;
  color: #fff;
  border: none;
  padding: 15px 20px;
  width: 250px;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 20px;
}

.form-group button:hover {
  background-color: #be3111;
}

.form-button {
  display: flex;
  justify-content: flex-start;
  /* Wyśrodkowanie w poziomie */
  align-items: center;
}

.form-button p,
.form-button button {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 10px;
}

/* Stylizacja placeholdera */
.form-group textarea::placeholder,
.form-group input::placeholder {
  font-size: 1.1em;
  /* Zmiana wielkości tekstu placeholdera */
  color: rgba(29, 53, 87, 0.75);
  /* Zmiana koloru tekstu placeholdera */
  font-family: Calibri;
}

/* ------  Map  ----- */

.column-full-map {
  flex: 1;
  width: 100%;
  padding: 20px 80px;
  /*        border: 1px solid #000;*/
  box-sizing: border-box;
}

#map {
  display: block;
  height: 600px;
  /* Wysokość mapy na 100% wysokości okna przeglądarki */
  width: 100%;
  /* Szerokość mapy na 100% szerokości okna przeglądarki */
  margin: 10px 0 60px 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid #1d3557;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------ */
/* -----------  Portfolio  ------------ */

.portfolio-container {
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-container::-webkit-scrollbar {
  width: 15px;
}

.portfolio-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.portfolio-container::-webkit-scrollbar-thumb {
  background-color: #ff451b;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.portfolio-container::-webkit-scrollbar-thumb:hover {
  background-color: #be3111;
}

.portfolio-section {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.portfolio-section .row:first-child {
  flex: 2;
  /* Adjust this value to control the height of the first row */
}

.portfolio-section .row:last-child {
  flex: 1;
  /* Adjust this value to control the height of the second row */
}

/* ------  Quote  ----- */

.portfolio-inline-list-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*    height: 100%;*/
}

.portfolio-inline-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.portfolio-inline-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /*
  border: 1px solid #1D3557;
  border-radius: 20px;
*/
  text-align: left;
  padding: 0;
  margin: 0;
}

.portfolio-inline-list li h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}

.portfolio-inline-list li p {
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
}

/* ------  Filter ----- */

.filter-options {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.filter-options p {
  font-size: 1em;
  display: block;
  box-sizing: border-box;
  color: #1d3557;
  padding: 10px 0 10px 20px;
  margin: 5px;
  font-weight: bold;
}

.filter-options button {
  background-color: #fff;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 1em;
  color: #1d3557;
  font-weight: bold;
  position: relative;
}

.filter-options button.active {
  background-color: #fff;
  color: #ff451b;
  /* Kolor tekstu dla aktywnej kategorii */
}

.category-count {
  position: absolute;
  /* Ustawienie pozycji bezwzględnej */
  top: -10px;
  /* Przesunięcie licznika do góry */
  right: -3px;
  /* Przesunięcie licznika do prawej */
  background-color: #fff;
  /* Kolor tła licznika */
  color: #1d3557;
  /* Kolor tekstu licznika */
  border-radius: 50%;
  /* Zaokrąglenie licznika */
  padding: 4px;
  /* Wielkość licznika */
  font-size: 16px;
  /* Rozmiar czcionki licznika */
}

/* Styl dla koloru tekstu licznika w aktywnym przycisku */
.filter-options button.active .category-count {
  color: #ff451b;
  /* Kolor tekstu dla licznika w aktywnym przycisku */
}

/* ------  Portfolio Elements ----- */

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two columns */
  gap: 40px;
  /* Gap between items */
  justify-items: center;
  margin-bottom: 60px;
}

.portfolio-item {
  width: 665px;
  /*    max-width: 700px;*/
  /*    border: 1px solid #000;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*    text-align: center;*/
  border-radius: 20px;
}

.portfolio-item img {
  width: 585px;
  height: 350px;
  /*    border: 1px solid #000;*/
  border-radius: 20px;
  margin: 40px 40px 20px 40px;
}

.data {
  background-color: #e8fff9;
}

.graphic {
  background-color: #ffe8ea;
}

.website {
  background-color: #fff3e8;
}

.title-and-button {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /*    align-items: center;*/
  /*    justify-items: flex-start;*/
  width: 100%;
  margin: 0 0 30px 0;
}

.title-and-button .portfolio-button {
  text-align: center;
  margin: 0;
  padding: 0;
}
.title-and-button .portfolio-button button {
  width: 150px;
  height: 40px;
  font-size: 0.8em;
}

.portfolio-info-text {
  margin: 0 0 0 60px;
  padding: 0;
  box-sizing: border-box;

  /*    text-align: left;*/
}

.portfolio-info-text h1 {
  font-size: 1.5em;
  margin: 0;
}

.portfolio-info-text h2 {
  font-size: 1em;
  color: #457b9d;
  margin: 0;
}

/* ------------------------------------------------ */
/* -----------  Portfolio - Projekt 1  ------------ */

.portfolio-projekt-container {
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-projekt-container::-webkit-scrollbar {
  width: 15px;
}

.portfolio-projekt-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.portfolio-projekt-container::-webkit-scrollbar-thumb {
  background-color: #ff451b;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.portfolio-projekt-container::-webkit-scrollbar-thumb:hover {
  background-color: #be3111;
}

.portfolio-projekt-section {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.portfolio-projekt-section .row:first-child {
  flex: 2;
  /* Adjust this value to control the height of the first row */
}

.portfolio-projekt-section .row:last-child {
  flex: 1;
  /* Adjust this value to control the height of the second row */
}

/* ------  Projekt Header  ----- */

.portfolio-header-container {
  display: grid;
  grid-template-columns: 7fr 1fr;
  /* Two columns */
  justify-items: flex-start;
  padding: 40px 0 40px 0;
  margin: 0;
  height: 60px;
  /*    gap: 600px;*/
}

.portfolio-header-container h1 span {
  color: #ff451b;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.portfolio-header-container img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* ------  Projekt Element  ----- */

.portfolio-element-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  /*    height: 100%;*/
}

.portfolio-element-inline-list {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio-element-inline-list .element-in-list {
  display: flex;
  flex-direction: column;
  /*    justify-content: center;*/
  /*    border: 1px solid #1D3557;*/
  border-radius: 20px;
  text-align: left;
  padding: 0;
  margin: 0 0 10px 20px;
}

.element-in-list-project img {
  display: flex;
  width: 800px;
  height: auto;
  align-self: center;
  border: 1px solid rgba(29, 53, 87, 0.2);
  border-radius: 20px;
}

.element-in-list .element-in-list h2 {
  margin: 50px 0 0 0;
  padding: 0;
}

.element-in-list .info-details {
  display: grid;
  grid-template-columns: 60px 120px 3fr;
  text-align: center;
}

.info-details .detail {
  /*    border: 1px solid #000;*/
  margin-top: 10px;
}

.detail-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-icon img {
  width: 45px;
  height: 45px;
  border: none;
}

.detail-category {
  font-size: 1em;
  color: #c1c1c1;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-answer {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.element-in-list .info-technologies p {
  display: flex;
  text-align: center;
  padding: 0;
  font-size: 1.5em;
  margin: 20px 0;
}

.element-in-list .info-technologies-details {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /*    text-align: center; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.element-in-list .info-technologies-details .technology {
  padding: 5px 15px;
  font-size: 1em;
  margin: 0;
  width: auto;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  background-color: #457b9d;
  color: #fff;
}

.column-full-description {
  flex: 1;
  padding: 0 80px;
  /*    border: 1px solid #000;*/
  box-sizing: border-box;
}

.column-full-description h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}

.column-full-description .description {
  margin-bottom: 60px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* --------------------------------- */
/* -----------  Skills  ------------ */

.skills-container {
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.skills-container::-webkit-scrollbar {
  width: 15px;
}

.skills-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.skills-container::-webkit-scrollbar-thumb {
  background-color: #ff451b;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.skills-container::-webkit-scrollbar-thumb:hover {
  background-color: #be3111;
}

.skills-section {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.skills-section .row:first-child {
  flex: 2;
  /* Adjust this value to control the height of the first row */
}

.skills-section .row:last-child {
  flex: 1;
  /* Adjust this value to control the height of the second row */
}

/* ------  Quote  ----- */

.skills-quote-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*    height: 100%;*/
}

.skills-quote-inline-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.skills-quote-inline-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /*
  border: 1px solid #1D3557;
  border-radius: 20px;
*/
  text-align: left;
  padding: 0;
  margin: 0;
}

.skills-quote-inline-list li h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  color: #1d3557;
}

.skills-quote-inline-list li p {
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
  color: #1d3557;
}

/* ------  Skills Element  ----- */

.skills-elements-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  /*    height: 100%;*/
}

.skills-elements {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*    border: 1px solid #1D3557;*/
}

.skills-elements .skill-circle-element {
  /*
  display: flex;
  width: 800px;
  height: auto;
  align-self: center;
*/
  /*    border: 1px solid #000;*/
  border-radius: 20px;
  /*    transform: scale(0.5);*/
}

.skills-elements .skill-list-element {
  display: flex;
  flex-direction: column;
  /*    justify-content: center;*/
  /*    border: 1px solid #fff;*/
  border-radius: 20px;
  text-align: left;
  padding: 0;
  margin: 20px 0 0 0;
}

.skill-list-element .skill-category {
  /*    border: 1px solid #fff;*/
  border-radius: 20px;
  margin: 0 40px 0 40px;
}

.skill-list-element .skill-category h2 {
  margin: 50px 0 0 0;
  padding: 0;
}

/* --------------------------------------------- */

.infographic-step {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  cursor: pointer;
  /*    border: 1px solid #fff;*/
  border-radius: 20px;
}

.info-box {
  padding: 18px 60px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  text-align: center;
}

.color1 {
  background-color: #96c2de;
}

.color2 {
  background-color: #457b9d;
}
*/ .info-box .icon {
  font-size: 24px;
  margin: 0;
  border: 1px solid #fff;
}

.info-box .icon img {
  height: 60px;
  width: 60px;
}

.info-box .text {
  width: 100%;
  display: block;
}

.info-box .text h2 {
  margin: 0;
  font-size: 1.6em;
}

.info-box .text .color1 {
  color: #fff;
}

.info-box .text .color2 {
  color: #fff;
}

.info-box .text p {
  margin: 10px 0 10px 0;
  font-size: 0.8em;
  color: #fff;
  display: flex;
  justify-content: center;
}

.details {
  display: block; /* Always display block but control visibility and space with max-height */
  font-size: 1em;
  color: #fff;
  padding: 0 10px;
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 0.5s cubic-bezier(0.39, 0.58, 0.57, 1),
    padding 0.5s ease-out; /* Smooth transition for max-height and padding */
  position: relative;
}

.show .details {
  max-height: 600px; /* Adjust based on your content */
  padding: 15px 10px;
}

.details-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  /*    border: 1px solid #000;*/
  align-items: center;
  margin-top: 0;
}

.details-container .details-category {
  display: grid;
  /*    justify-items: flex-end;*/
  text-align: end;
}

.details-container .details-category h3 {
  /*    color: #457B9D;*/
  margin: 5px 10px;
  padding: 0;
}

.details-container .details-elements {
  display: grid;
  justify-items: flex-start;
}

.details-container .details-elements h3 {
  font-weight: normal;
  margin: 5px 10px;
}

.details-container .details-elements p {
  font-weight: normal;
  margin: 5px 10px;
  text-align: left;
}

.color-text1 {
  color: #96c2de;
}

.color-text2 {
  color: #457b9d;
}

.lines {
  position: absolute;
  top: 15px;
  left: 186px;
  background-color: #ff451b;
  width: 5px;
}

.line1 {
  height: 195px;
}

.line2 {
  height: 290px;
}

.line3 {
  height: 230px;
}

.line4 {
  height: 580px;
}

.line5 {
  height: 210px;
}

/* --------------------------------------------- */

/* -------------------------------- */
/* -----------  Skill-graphics  ------------ */

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 160px 0 0 -60px;
}

.circle::before {
  content: "";
  position: absolute;
  top: -150px;
  left: -150px;
  width: 600px;
  height: 600px;
  pointer-events: none;
  /* Wyłącza zdarzenia myszy, aby przerywanie było tylko efektem wizualnym */
  /*            border-spacing: 50px;*/
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='600' ry='600' stroke='%231D3557' stroke-width='10' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 300px;
  color: #1d3557;
}

.square {
  position: absolute;
  width: 250px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 620px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #fff;
  top: -160px;
  left: -100px;
  /* Pozycja pozioma, centrowanie kwadratu */
}

.little-circle1 {
  position: absolute;
  width: 30px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 30px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #1d3557;
  border-radius: 50px;
  /* Pozycja pozioma, centrowanie kwadratu */
  z-index: 100;
  top: -162.5px;
  left: 135px;
}

.little-circle2 {
  position: absolute;
  width: 30px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 30px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #96c2de;
  top: -115px;
  left: 300px;
  border-radius: 50px;
  /* Pozycja pozioma, centrowanie kwadratu */
  z-index: 100;
  border: 10px solid #1d3557;
}

.little-circle3 {
  position: absolute;
  width: 30px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 30px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #457b9d;
  top: -15px;
  left: 390px;
  border-radius: 50px;
  /* Pozycja pozioma, centrowanie kwadratu */
  z-index: 100;
  border: 10px solid #1d3557;
}

.little-circle4 {
  position: absolute;
  width: 30px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 30px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #96c2de;
  top: 125px;
  left: 420px;
  border-radius: 50px;
  /* Pozycja pozioma, centrowanie kwadratu */
  z-index: 100;
  border: 10px solid #1d3557;
}

.little-circle5 {
  position: absolute;
  width: 30px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 30px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #457b9d;
  top: 255px;
  left: 390px;
  border-radius: 50px;
  /* Pozycja pozioma, centrowanie kwadratu */
  z-index: 100;
  border: 10px solid #1d3557;
}

.little-circle6 {
  position: absolute;
  width: 30px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 30px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #96c2de;
  top: 365px;
  left: 300px;
  border-radius: 50px;
  /* Pozycja pozioma, centrowanie kwadratu */
  z-index: 100;
  border: 10px solid #1d3557;
}

.little-circle7 {
  position: absolute;
  width: 30px;
  /* Szerokość kwadratu (połowa promienia koła) */
  height: 30px;
  /* Wysokość kwadratu (taka sama jak koło) */
  background-color: #1d3557;
  top: 432.5px;
  left: 135px;
  border-radius: 50px;
  /* Pozycja pozioma, centrowanie kwadratu */
  z-index: 100;
}

.quarter {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.quarter.yellow {
  background: #fff;
  clip: rect(0px, 150px, 150px, 0px);
}

.quarter.orange {
  background: #457b9d;
  clip: rect(0px, 300px, 150px, 150px);
}

.quarter.bordo {
  background: #96c2de;
  clip: rect(150px, 300px, 300px, 150px);
}

.quarter.pink {
  background: #fff;
  clip: rect(150px, 150px, 300px, 0px);
}

.cut {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  /* Zmniejszony rozmiar */
  height: 220px;
  /* Zmniejszony rozmiar */
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 5;
  /* Upewnij się, że jest na wierzchu nad ćwiartkami, ale pod przerywaną linią */
}

.cut .cut-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cut .cut-text h2 {
  color: #1d3557;
  font-size: 1.6em;
}

/* -------------------------------- */
/* -----------  Footer  ------------ */

footer {
  /*    background-color: #333;*/
  color: #1d3557;
  text-align: center;
  padding: 15px 210px;
  position: fixed;
  bottom: 0;
}
